.button {
  text-align: center;

  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 0.2rem;

  display: block;
  padding: 0.6rem 0.8rem;

  width: 100%;
}

.button:nth-child(1),
.button:nth-child(2) {
  background: white;
  color: #146092;
  font-weight: 500;
}
